.venv
__pycache__/
data/histo/histo_trafic_instant.csv
data/processed
notes/
*.pyc
.claude
.DS_Store
.ipynb_checkpoints
data/datasets/data_instant_test.csv
data/datasets/data_instant_train.csv
data/datasets/data_instant_val.csv
data/data_instant.csv
data/raw/
data/data_tim*
results/benchmarks
results/experiments/
results/legacy/
results/plots/*
!results/plots/readme/
!results/plots/readme/**
**/events.out.tfevents.*
paper/*
!paper/main.pdf
references/
uncommitted/